SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{serial}=="FTZ6UU5T", SYMLINK+="ttyIMU"
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", SYMLINK+="ttyMOTOR"
